page-pantallauno {
	.container-header{
		border-bottom: 1px outset;
	}
	.toolbar-background{
		background: #00298f;
	}
	.theme-bg{
		background: #effff0;
	}
	.button-cancel{
		width: 60%;
		font-size: 12px;
		padding: 0px;
		background: transparent;
		border:0px;
	}
	.icon-category{
		width: 35px;
		height: 40px;
	}
	.category-title{
		color: #2d2727;
		font-size: 14px;
		margin-top: 4% !important;
	}
	.button-search{
		width: 100%;
		font-size: 12px;
		float: right;
	}
	.searchbar-md .searchbar-search-icon {
		left: 8px;
		top: 9px;
		width: 21px;
		height: 21px;
		display:none;
	}
	.searchbar-ios .searchbar-input{
		background: #fff !important;
		border-radius: 28px;
	}
	.searchbar-ios{
		width: 114%;
	}
	.box-shadow{
		content: "";
	}
	.searchbar-md .searchbar-input {
		margin-top: -5px;
		margin-left: 20px;
		padding: 0px 5px;
		border-radius: 28px;
		border: 2px solid #2CB5E8;
		background-position: left 8px center;
		height: 37px;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 0rem;
		color: #141414;
		background-color: #fff;
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	// .contenedor-slider{
		// 	padding: 20px !important;
		// 	margin-top:-5%;
		// }
		// .slider{
			// 	width: 100%;
			// 	height:250px;
			// 	max-height: 250px;
			// 	border: 1px groove rgba(0, 255, 255, 0.5);
			// }

			.triangle-isosceles {
				position:relative;
				padding:15px;
				margin:1em 0 3em;
				color:#000;
				background: rgba(0,41,143,0.3);
				width: 250px;
				margin-left: 12%;
				font-family: Acme;
				/* css3 */
				-moz-border-radius:10px;
				-webkit-border-radius:10px;
				border-radius:10px;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

			}
			
			/* creamos el triangulo */
			.triangle-isosceles:after {
				content:"\00a0";
				display:block;
				position:absolute;
				bottom:-32px;
				left:25px;
				width:0;
				height:0;
				border-width:15px 15px;
				border-style:solid;
				border-color: rgba(0,41,143,0.3) transparent transparent;
			}
			.slider-slide{
				text-align: center;  
			}
			.img-slider{
				background-image: url(../assets/imgs/burger-combo.png);
				background-size: cover;
			}
			.title-img{
				position:absolute;
				bottom:5px;
			}

			.checkbox-line{
				margin-top: 4%;
			}
			// Calendario Style
			.contenedor-calendar{
				padding-left: 1px;
				margin-top: 5%;
			}
			.select-day  input{
				display: none;
			}
			.label-day {
				display: inline-block;
				width: 35px;
				font-size:12px;
				height: 30px;
				text-align: center;
				border: 1px solid #00298f;
				line-height: 30px;
				cursor: pointer;
				font-family: Acme;
			}
			#Domingo:checked ~ label[for="Domingo"],
			#Lunes:checked ~ label[for="Lunes"],
			#Martes:checked ~ label[for="Martes"],
			#Miercoles:checked ~ label[for="Miercoles"],
			#Jueves:checked ~ label[for="Jueves"],
			#Viernes:checked ~ label[for="Viernes"],
			#Sabado:checked ~ label[for="Sabado"] {
				background: #00298f;
				color: #ffffff;
			}
			// Calendario Style End

			.search-section{
				margin-top: 0%;
				margin-bottom: 2%;
				border-bottom:1px solid #00A0E3;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			}
			.col-icon{
				padding: 0px !important;
				width: 12.33333%;
				max-width: 12.33333%;
				flex: 0 0 8.33333%;
			}
			.icon-search{
				width: 35px !important;
				height: 30px;
			}
			.search-text{
				font-size: 17px;
				color:#2d2727;
				font-weight: 900;
				margin-bottom: 2%;
			}
			.search-text-offers{
				font-size: 17px;
				text-decoration: none;
				margin-left: 5px;
				color:#7321a4;
			}
			.accordion-list {
				margin-top: 7%;
				height: auto;
			}
			.section {
				color: black;
				margin-bottom: 0px;
				height: 100%;
				font-family: Acme;
			}
			.categoria-title{
				font-size:17px;
			}
			.beneficio-title{
				font-family: Acme;
			}
			.custom-control-label{
				font-family: Acme;
			}
			.section-active {
				background: #00A0E3;
				color: #fff;
				font-family: Acme;
			}

			.child {
				color: #000;
			}
			.child-item {
				background: #fff;
				padding: 8px;
				margin-bottom: 5px;
				border-bottom: 1px solid #00A0E3 !important;
			}
			.label {
				margin: 2px;
			}
			.list {
				margin-bottom: 0px;
			}
			// Media Querys
			@media only screen and (min-width: 1201px) and (max-width: 1400px) {
				.button-search{
					width: 28%;
					font-size: 20px;
				}
				.section {
					font-size: 24px;
				}
				.category-title{
					font-size: 30px;
				}
				.searchbar-ios .searchbar-input {
					height: 5.8rem;
					font-size: 2rem;
					font-weight: 400;
					margin-top: 4px;
				}
				.searchbar-ios .searchbar-search-icon {
					left: 0px;
					top: 19px;
					width: 38px;
					height: 30px;
					background-repeat: no-repeat;
					background-size: 24px;
				}
				.button-cancel{
					width: 60%;
					font-size: 20px;
					margin-left: 20%;
				}
				.searchbar-input {
					-moz-appearance: none;
					-ms-appearance: none;
					-webkit-appearance: none;
					appearance: none;
					display: block;
					width: 104%;
					border: 0;
					font-family: inherit;
				}
				.search-text{
					font-size: 24px;
				}
				.search-text-offers{
					font-size: 24px;
				}
				.pin-img{
					width: 20px;
				}
			}
			@media only screen and (min-width: 993px) and (max-width: 1200px) {
				.button-search{
					width: 31%;
					font-size: 15px;
				}
				.section {
					font-size: 20px;
				}
				.searchbar-ios .searchbar-input {
					height: 4.5rem;
					font-size: 1.7rem;
					font-weight: 400;
					margin-top: 4px;
				}
				.searchbar-ios .searchbar-search-icon {
					left: 9px;
					top: 10px;
					width: 29px;
					height: 26px;
					background-repeat: no-repeat;
					background-size: 19px;
				}
				.button-cancel{
					width: 60%;
					font-size: 16px;
					margin-left: 20%;
				}
				.searchbar-input {
					-moz-appearance: none;
					-ms-appearance: none;
					-webkit-appearance: none;
					appearance: none;
					display: block;
					width: 104%;
					border: 0;
					font-family: inherit;
				}
				.search-text{
					font-size: 20px;
				}
				.search-text-offers{
					font-size: 20px;
				}
				.pin-img{
					width: 20px;
				}
			}
			@media only screen and (min-width: 768px) and (max-width: 992px) {
				.button-search{
					width: 35%;
					font-size: 15px;
				}
				.section {
					font-size: 20px;
				}
				.searchbar-ios .searchbar-input {
					height: 4.5rem;
					font-size: 1.7rem;
					font-weight: 400;
					margin-top: 4px;
				}
				.searchbar-ios .searchbar-search-icon {
					left: 9px;
					top: 10px;
					width: 29px;
					height: 26px;
					background-repeat: no-repeat;
					background-size: 19px;
				}
				.button-cancel{
					width: 60%;
					font-size: 16px;
					margin-left: 20%;
				}
				.searchbar-input {
					-moz-appearance: none;
					-ms-appearance: none;
					-webkit-appearance: none;
					appearance: none;
					display: block;
					width: 104%;
					border: 0;
					font-family: inherit;
				}
				.search-text{
					font-size: 20px;
				}
				.search-text-offers{
					font-size: 20px;
				}
				.pin-img{
					width: 20px;
				}
			}
			@media (min-width: 401px) and (max-width: 500px) {
				.searchbar-ios .searchbar-input {
					margin-top: 7px;
				}
			}
			@media screen and (min-width: 320px) and (max-height: 640px) {
				.contenedor-slider{
					padding: 20px !important;
					margin-top:-5%;
				}
				.slider{
					width: 100%;
					height:250px;
					max-height: 250px;
					border: 1px groove rgba(0, 255, 255, 0.5);
				}
				.button-search{
					width: 35%;
				}
				.searchbar-ios .searchbar-input {
					margin-top: 7px;
				}
			}
			@media (max-width: 400px) and (orientation: portrait) {
				.button-search{
					width: 65%;
				}
				.searchbar-ios .searchbar-input {
					margin-top: 7px;
				}
			}
		}
