<!--
  Generated template for the PantallaunoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="container-header">

	<ion-navbar hideBackButton>
		<ion-row>
			<ion-col col-3>
				<button ion-button class="button-cancel" color="danger" (tap)="Back()">CANCELAR</button>
			</ion-col>
			<ion-col col-7>
				<ion-searchbar class="searchbar-input" [(ngModel)]="myInput" [showCancelButton]="false" [animated]="true" [cancelButtonText]="cancelButtonText" [spellcheck]="true">
				</ion-searchbar>
			</ion-col>
			<ion-col col-2>
				<button ion-button class="button-search" icon-only>
					<ion-icon name="search"></ion-icon>
				</button>		
			</ion-col>
		</ion-row>
	</ion-navbar>

</ion-header>


<ion-content padding class="theme-bg">
	<!-- Section Search -->
	<div class="search-section">
		<ion-row>
			<ion-col col-6 text-center  (tap)="MoveToPage3()" >
				<img class="icon-pin" src="assets/imgs/pin.png">
				<p class="search-text">Cercanos a Mi</p>
			</ion-col>
			<ion-col col-6 text-center >
				<img class="icon-star" src="assets/imgs/star.png">
				<p class="search-text">Nuevas Ofertas</p>
			</ion-col>
		</ion-row>
		<!-- END Section Search -->
	</div>
<!-- 	<div class="search-section">
		<ion-row class="search-text">
		</ion-row> -->
		<!-- END Section Search -->
		<!-- </div> -->
		<!-- Section Category -->

			<ion-list class="accordion-list">
				<ion-row>
					<ion-col col-12>
						<h3 text-center class="category-title"> Categorias</h3>
					</ion-col>
				</ion-row>
				<!-- First Level -->
				<ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
					<!-- Toggle Button -->
					<button ion-item  (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
						<ion-icon item-left ios="ios-arrow-dropright" md="ios-arrow-dropright" *ngIf="!item.open"></ion-icon>
						<ion-icon item-left ios="ios-arrow-dropdown" md="ios-arrow-dropdown" *ngIf="item.open"></ion-icon>
						{{ item.name }}
					</button>
					<ion-list *ngIf="item.children && item.open" no-lines>
						<!-- Second Level -->
						<ion-list-header *ngFor="let child of item.children; let j = index" no-padding>
							<!-- Direct Add Button as Fallback -->
							<ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
								<h2>{{ child.name }}</h2>
								<p text-lowercase>{{ child.information }}</p>
								<button ion-button outline item-end (click)="ver(child)">{{ child.ver }}</button>
							</ion-item>
						</ion-list-header>
					</ion-list>
				</ion-list-header>
			</ion-list>
			<!-- END Section Category -->
	</ion-content>
