page-pantallanovedades {
	.body-bg{
		background-color:#d6d5d5;
	}
	.container-header{
		border-bottom: 1px outset;
	}
	.toolbar-background{
		background: #00298f;
	}
	.toolbar-title-ios {
		text-align: left;
		font-size: 1.7rem;
		font-weight: 600;
		color: #fff;
		pointer-events: auto;
	}
	.toolbar-title {
		display: block;
		/* overflow: hidden; */
		width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #fff;
	}
	.icon-search{
		width: 5%;
		float: right;
		color: #fff;
	}
	.img-noticias {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: auto;
		height: auto;
		max-height: 300px;
		max-width: 100%;
		position: absolute;
		margin: 0 auto;
	}
	.container img {
		position: relative;
		height: auto;
		width: auto;
		max-width: 290px;
		min-height: 100px;
		border: 1px solid #ccc;
		margin: auto;
		vertical-align: middle;
	}
	@media only screen and (min-width: 1201px) and (max-width: 1400px){
		.toolbar-title-ios {
			font-size: 2.0rem;
		}
		.toolbar-title {
			width: 100%;
		}
		.icon-search{
			width: 7%;
		}
		.title-noticia{
			font-size: 28px;
		}
		.text-noticia{
			font-size: 22px;
		}
		.container img {

			max-width: 450px;
		}
		.text-autor{
			font-size: 17px;
		}
		.text-day{
			font-size: 17px;
		}
	}
	@media only screen and (min-width: 993px) and (max-width: 1200px) {
		.toolbar-title-ios {
			font-size: 2.0rem;
		}
		.toolbar-title {
			width: 100%;
		}
		.icon-search{
			width: 7%;
			float: right;
			color: #fff;
		}
		.title-noticia{
			font-size: 24px;
		}
		.text-noticia{
			font-size: 19px;
		}
		.container img {

			max-width: 400px;
		}
		.text-autor{
			font-size: 17px;
		}
		.text-day{
			font-size: 17px;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 992px){
		.toolbar-title-ios {
			font-size: 2.0rem;
		}
		.toolbar-title {
			width: 100%;
		}
		.icon-search{
			width: 7%;
			float: right;
			color: #fff;
		}
		.title-noticia{
			font-size: 24px;
		}
		.text-noticia{
			font-size: 19px;
		}
		.container img {

			max-width: 400px;
		}
		.text-autor{
			font-size: 17px;
		}
		.text-day{
			font-size: 17px;
		}
	}

}
