page-editperfil {
    // Main Header
    .searchbar-md .searchbar-search-icon {
        left: 25px;
        top: 9px;
        width: 21px;
        height: 21px;
    }
    .searchbar-ios .searchbar-input{
        background: #fff !important;
        border-radius: 28px;
    }
    .searchbar-ios{
        width: 100%;
    }
    .box-shadow{
        content: "";
    }
    .searchbar-md .searchbar-input {
        margin-top: -5px;
        margin-left: 20px;
        padding: 0px 22px;
        border-radius: 28px;
        border: 2px solid #2CB5E8;
        background-position: left 8px center;
        height: 37px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0rem;
        color: #141414;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        display:none;
    }
    .Bg-header{
        background-color: #133F6D;
    }
    .header-row{
        height: 60px;
    }
    .first-col{
        background-color: #133F6D;
        height:60px;
    }
    .icon-category{
        width: 35px;
        height: 40px;
    }
    .arrow{
        z-index:999;
        background-color: #00A0E3;
        clip-path: polygon(40% 0, 100% 0%, 100% 100%, 40% 100%, 20% 51%);       
        height:64px;
    }
    .club-logo{
        width: 54%;
        margin-left: 49px;
        margin-top: 11px;
    }
    // Main Header End
     .col-md-height{
            height:165px;
        }
    .contenedor-card-perfil{
        margin-top:-38%;
    }
    .row-button-cambio{
        margin-top:13%;
    }
    .pantalla-1 {
        width: 150px;
        height: auto;
        max-height: 145px;
        object-fit: contain;
        margin: 0 auto;
    }

    .container img {
        background-color: white;
        padding: 1%;
        height: auto;
        width: auto;
        max-width:126.6px;
        min-height: 145px;
        border: 1px solid #ccc;
        border-radius: 50%;
        margin: auto;
        vertical-align: middle;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #133F6D;
    }
    .loginBtn {
      box-sizing: border-box;
      // position: relative;
      width: 13em;  
      margin: 0.2em;
      // padding: 0 15px 0 46px;
      border: none;
      width:100%;
      text-align: center;
      line-height: 34px;
      font-weight: 300;
      text-transform: none;
      white-space: nowrap;
      border-radius: 0.2em;
      font-size: 16px;
      color: #FFF;
  }
  .loginBtn:focus {
      outline: none;
  }
  .loginBtn:active {
      box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  /* Facebook */
  .loginBtn--Perfil {
      background-color: #133F6D;
      /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
      text-shadow: 0 -1px 0 #354C8C;
  }
  @media only screen and (min-width: 1201px) and (max-width: 1400px) {
    // Main-header 
        .ion-ios-menu:before {
            content: "\f1c3";
            font-size: 30px;
        }
        .club-logo {
            width: 56% !important;
            margin-left: 130px !important;
            margin-top: 3px;
        }
        .ion-md-menu:before {
            content: "\f32a";
            font-size: 30px;
        }
        .Bg-header {
            background-color: #133F6D;
            height: 100px;
        }
        .searchbar-input-container {
            margin-top: 16px;
        }
        .searchbar-ios .searchbar-input{
            font-size: 2.8rem;
            margin-top: 16px;
        }
        .back-button{
            margin-top:15px;
        }
        .searchbar-md .searchbar-search-icon {
            left: 25px;
            top: 9px;
            width: 48px;
            height: 21px;
        }
        .searchbar-md .searchbar-input {
            margin-top: 0px;
            font-size: 1.8rem;
            font-weight: 400;
        }
        .Header-title{
            padding: 0px 0 0 67px;
            margin-top: 15px;
            font-size: 21px;
        }
        .title-segment{
            font-size: 2.8rem;
        }
        ion-toolbar.scrollable-segments ion-segment ion-segment-button.segment-button {
            display: inline-block;
            // width: auto;
            height: 35%;
        }
        .arrow{
            -webkit-clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
            clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
            height: 110px;
        }
        // Main-header End
        .col-md-height{
            height:216px;
        }
         .contenedor-card-perfil {
        margin-top: -16%;
    }
    .font-perfil{
        font-size:36px;
    }
     .row-button-cambio{
        margin-top:0px;
    }
    .container img {
        background-color: white;
        padding: 1%;
        height: auto;
        width: auto;
        min-height: 320px;
        border: 1px solid #ccc;
        border-radius: 50%;
        margin: auto;
        vertical-align: middle;
    }
    .pantalla-1 {
        width: 150px;
        height: auto;
        max-height: 320px;
        max-width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  // Main-header 
        .ion-ios-menu:before {
            content: "\f1c3";
            font-size: 30px;
        }
        .club-logo {
            width: 56% !important;
            margin-left: 100px !important;
            margin-top: 3px;
        }
        .ion-md-menu:before {
            content: "\f32a";
            font-size: 30px;
        }
        .Bg-header {
            background-color: #133F6D;
            height: 80px;
        }
        .searchbar-input-container {
            margin-top: 14px;
        }
        .searchbar-ios .searchbar-input{
            font-size: 2.6rem;
        }
        .back-button{
            margin-top:15px;
        }
        .searchbar-md .searchbar-search-icon {
            left: 25px;
            top: 9px;
            width: 48px;
            height: 21px;
        }
        .searchbar-md .searchbar-input {
            margin-top: 0px;
            font-size: 1.8rem;
            font-weight: 400;
        }
        .Header-title{
            padding: 0px 0 0 67px;
            margin-top: 15px;
            font-size: 21px;
        }
        .title-segment{
            font-size: 2.8rem;
        }
        ion-toolbar.scrollable-segments ion-segment ion-segment-button.segment-button {
            display: inline-block;
            // width: auto;
            height: 35%;
        }
        .arrow{
            -webkit-clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
            clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
            height: 90px;
        }
        // Main-header End
         .contenedor-card-perfil {
        margin-top: -16%;
    }
     .row-button-cambio{
        margin-top:0px;
    }
    .container img {
        background-color: white;
        padding: 1%;
        height: auto;
        width: auto;
        min-height: 240px;
        border: 1px solid #ccc;
        border-radius: 50%;
        margin: auto;
        vertical-align: middle;
    }
    .pantalla-1 {
        width: 150px;
        height: auto;
        max-height: 240px;
        max-width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
 // Main-header 
 .ion-md-menu:before {
    content: "\f32a";
    font-size: 30px;
}
.ion-ios-menu:before {
    content: "\f1c3";
    font-size: 30px;
    margin-top: -9px;
    margin-left: -8px;
}
.searchbar-input-container {
    margin-top: 6px;
}
// .searchbar-ios{
    //  font-size: 1.8rem;
    //  margin-top:0px;
    // }
    .searchbar-md .searchbar-input {
        font-size: 1.8rem;
        font-weight: 400;
    }
    .Header-title{
        padding: 0px 0 0 35px;
        margin-top: 15px;
        font-size: 21px;
    }
    .title-segment{
        font-size: 2.2rem;
    }
    .club-logo {
        width: 55%;
        margin-left: 77px;
        margin-top: 2px;
    }
    .arrow{
        -webkit-clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
        clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
        height: 74px;
    }
    // Main-header End
    .contenedor-card-perfil {
        margin-top: -23%;
    }
     .row-button-cambio{
        margin-top:0px;
    }
    .container img {
        background-color: white;
        padding: 1%;
        height: auto;
        width: auto;
        min-height: 240px;
        border: 1px solid #ccc;
        border-radius: 50%;
        margin: auto;
        vertical-align: middle;
    }
    .pantalla-1 {
        width: 150px;
        height: auto;
        max-height: 240px;
        max-width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        margin: 0 auto;
    }
}
@media (min-width: 501px) and (max-width: 767px) {
    .club-logo {
        margin-left: 70px;
        margin-top: 4px;
    }
    .searchbar-ios{
        margin-top:6px;
        margin-left: 20px;
    }
}
@media (min-width: 401px) and (max-width: 500px) {
    // Main-header
    .Header-title {
        padding: 0px 0 0 56px;
        margin-top: 19px;
        font-size: 17px;
    }
    .club-logo {
        width: 54%;
        margin-left: 57px;
        margin-top: 11px;
    }
    .searchbar-ios{
        margin-top:6px;
        margin-left: 20px;
    }
    .ion-ios-menu:before {
        content: "\f1c3";
        font-size: 30px;
        margin-top: -9px;
        margin-left: -8px;
    }
    // Main-header End
    .contenedor-card-perfil {
        margin-top: -32%;
    }
}
@media (min-width: 375px) and (max-height: 667px){

}
@media screen and (min-width: 320px) and (max-height: 640px) {
    // Main-header
    .Header-title {
        padding: 0px 0 0 84px;
        margin-top: 13px;
        font-size: 23px;
    }
    .club-logo{
        width: 39%;
        margin-left: 103px;
        margin-top: 5px;
    }
    .searchbar-ios{
        margin-top:6px;
        margin-left: 20px;
    }
    .ion-ios-menu:before {
        content: "\f1c3";
        font-size: 30px;
        margin-top: -9px;
        margin-left: -8px;
    }
    .contenedor-card-perfil{
        margin-top:-20%;
    }
    .row-button-cambio{
        margin-top:0px;
    }
    // Main-header End
}
@media (max-width: 320px) and (min-height: 568px) {
 .club-logo{
    width: 54%;
    margin-left: 92px;
    margin-top: 8px;
}
}
@media (max-width: 400px) and (orientation: portrait) {
    // Main-header
    .Header-title{
        padding: 0px 0 0 39px; 
        margin-top:20px;
        font-size: 15px;
    }
    .searchbar-ios{
        margin-top:6px;
        margin-left: 20px;
    }
    .ion-ios-menu:before {
        content: "\f1c3";
        font-size: 30px;
        margin-top: -9px;
        margin-left: -8px;
    }
    .club-logo{
        width: 54%;
        margin-left: 49px;
        margin-top: 11px;
    }
    .contenedor-card-perfil{
        margin-top:-42%;
    }
    // Main-header End
}


}
