// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

$text-color:        #000;
$background-color:  #fff;
$menu-o: #e23602;
$text-input-placeholder-color: #000;

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
$loading-ios-background: transparent;
$loading-md-background: $loading-ios-background;
$loading-wp-background: $loading-ios-background;
$loading-md-box-shadow: none;
$loading-ios-box-shadow: $loading-md-box-shadow;

$modal-inset-width: 400px;
$modal-inset-height-small: 300px;
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  toolbar-theem: #808285,
  login:      #001E42,
  cyan:       #00A0E3,
  bluep:      #133F6D,
  azulito:    #0c3fbf,
  Theme-bg:   #f1f1f1,
  facebook-logo: #3b5999,
  googleplus-logo: #dd4b39,
  instagram-logo: #e4405f,
  twitter-logo: #55acee,
  navbartr:  rgba(0,30,66,0.5),

  menu-o: $menu-o,
  menu-o-t: transparentize($color: darken($color: $menu-o, $amount: 30%) , $amount: 0.15)
);


// App iOS Variables
$fab-size:( 35px);
$fab-mini-size: ( 35px);
$fab-list-margin: ( 5px);
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
