// http://ionicframework.com/docs/theming/

@font-face {
  font-family: Acme;
  src: url('../assets/fonts/acme.woff2');
  font-family: Monserrat;
  src: url('../assets/fonts/Monserrat.woff2');
  font-family: Sueca-bold;
  src: url('../assets/fonts/sueca-bold.ttf');
  font-family: Sueca-medium;
  src: url('../assets/fonts/sueca-medium.ttf');
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

page-category ion-toolbar.scrollable-segments ion-segment ion-segment-button.segment-button {
    display: inline-block;
    width: 35%;
    height: 60px;
}
page-noticia ion-toolbar.scrollable-segments ion-segment ion-segment-button.segment-button {
    display: inline-block;
    width: 35%;
    height: 60px;
}
.menu-o {
    ion-content {
        background-color: #133F6D;
        ion-row {
            margin-top: -7px;
        }
        button {
            height: 20vh;
            &.img-bg {
                background-size: cover;
            }
            label {
                display: block;
                padding-top: 5px;
                font-family: Monserrat;
            }
            ion-icon {
                font-size: 30px;
            }
        } 
    }

    ion-item {
        background-color: transparent;
        color: #fff;
        h2 {
            text-align: right;
            font-size: 20px;
            font-family: Monserrat;
        }
    }
    .menu-inner {
        width: 100%;
        background-color: transparent;
    }
}

.firebase {
    background-image: url(https://drscdn.500px.org/photo/156764089/m%3D2048/4782b6e418c7952d10dc989bba0e262b);
}

.wifi {
    background-image: url('https://drscdn.500px.org/photo/148437083/m%3D2048/da36861b57078d0805a75154aa5e8f8f');
}

.medal {
    background-image: url('https://drscdn.500px.org/photo/105368653/m%3D2048/2b0ff083bbdac854fa43aaace96afe98');
}

.arrow{
    z-index:999;
    background-color: #00A0E3;
    clip-path: polygon(41% 0, 100% 1%, 100% 100%, 41% 100%, 20% 51%);
    height:70px;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    display:none;
}
